/* Adjust large screen sidebar width. */
@media screen and (min-width: 851px) {
    .mdl-layout > .mdl-layout__drawer {
        width: 276px !important;
    }
    .mdl-layout--fixed-drawer > .mdl-layout__content {
        margin-left: 276px !important;
    }
    /* Also stop title bar having too much padding on large screens. */
    .mdl-layout__header-row {
        padding-left: 40px !important;
    }
}
.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__header {
    margin-left: 276px !important;
    width: calc(100% - 276px) !important;
}
/* Limit navigation item height to 48px. */
.mdl-navigation__link--icon {
    line-height: 48px;
    height: 48px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    white-space: nowrap;
}
/* Don't stretch YouTube videos. */
.mdl-layout__content > iframe {
    width: 560px;
    display: inline;
}
/* Override default sidebar colour scheme. */
.mdl-layout .mdl-layout__drawer {
    background-color: white;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: rgba(0, 0, 0, 0.87) !important;
}
.mdl-navigation .mdl-navigation__link .material-icons {
    color: rgba(0, 0, 0, 0.54);
}
/* Fix search input vertical position. */
.mdl-textfield {
    vertical-align: top;
    top: 1px;
}

/* paper-item */
core-menu > paper-item {
    color: rgba(0, 0, 0, 0.87);
    height: 48px;
    line-height: 48px;
}
/* paper-dropdown-menu */
paper-dropdown-menu {
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
paper-dropdown-menu::shadow #label {
    color: rgba(0, 0, 0, 0.87);
}
paper-dropdown-menu::shadow #arrow {
    color: rgba(0, 0, 0, 0.26);
}
paper-dropdown-menu .core-selected {
    color: #64B5F6;
    background-color: inherit;
}
/* paper-dropdown */
paper-dropdown {
    padding: 8px 0;
}
paper-dropdown::shadow #scroller {
    /* The calculated height is too high for the content. */
    height: auto !important;
}
/* core-menu */
core-menu {
    margin: 0;
}
