/* Don't allow navigation text to wrap. */
.mdl-navigation__link {
    white-space: nowrap;
}
/* Don't stretch YouTube videos. */
.mdl-layout__content > iframe {
    width: 560px;
}
/* Fix search input vertical position. */
.mdl-textfield {
    vertical-align: middle;
}
/* Change drawer colour scheme to black-on-white. */
div.mdl-layout__drawer {
    background-color: white;
}
.mdl-navigation__link > span {
    color: rgba(0, 0, 0, 0.87);
}
