paper-button::shadow .button-content ::content a {
    margin: -0.7em -0.57em;
    flex: 1 1 auto;
}
paper-item::shadow .button-content ::content a {
    padding: 16px 16px 20px;
    margin: -16px -16px -20px;
    flex: 1 1 auto;
}
paper-input-decorator {
    display: inline-block !important;
}
paper-input-decorator /deep/ .focused-underline {
    /* line color when the input is focused */
    background-color: #64B5F6;
}
