a {
    text-decoration:none;
    color: #69aaff;
}
a:hover {
    text-decoration: underline;
}
body {
    max-width: 640px;
    background: #f8f8f8;
    margin:0 auto;
    font:12pt/1.5 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}
#header {
    padding: 1.5em 0;
    border-bottom: #ccc solid 1px;
}
img {
    height: 128px;
    width: 128px;
    display: inline-block;
    float:left;
    margin:0 1.5em;
}
h1,h2,h3 {
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}
h2 {
    margin-right: 1.5em;
    margin-top: 1.2em;
}
#nav {
    clear: both;
    text-align: center;
    padding-top: 1em;
}
#main {
    margin: 2em 1em;
}
#footer {
    border-top: #ccc solid 1px;
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
}
#header a, #footer a {
    display:inline-block;
    margin:0 0.2em;
    padding:0.3em 0.8em;
    transition:background 0.2s;
}
#header a:hover, #footer a:hover {
    background: #69aaff;
    text-decoration:none;
    color:white;
}
#footer small { display:block; color: #ccc;}
code {
    background:white;
    white-space:pre;
    display:block;
    margin:1.5em;
    margin-top:0;
    overflow-x:auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 3px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
    border-radius: 2px;
}
#bigbutton {
    display:table;
    padding: 0.5em 1em;
    font-size: 24pt;
    text-align:center;
    color:white;
    background: #69aaff;
    margin: 1em auto;
}
#bigbutton:hover {
    text-decoration:none;
    background: #ffbe69;
}
#contrib {
    display:block;
    padding-left:0;
}
#contrib li {
    display:inline-block;
}
#contrib img {
    height: 64px;
    width: 64px;
    margin: 4px;
}
#contrib img.admin {
    box-shadow: 0 5px 5px -3px #b0b;
}
#contrib img.member {
    box-shadow: 0 5px 5px -3px #0b0;
}