a {
    text-decoration:none;
    color: #64B5F6;
}
a:hover {
    text-decoration: underline;
}
paper-item > a, paper-button > a {
    color: inherit;
}
paper-item > a:hover, paper-button > a:hover {
    text-decoration: none;
}
body {
    background: white;
    margin:0 auto;
    font:13pt/20pt RobotoDraft, sans-serif;
    color: rgba(0, 0, 0, 0.87);
}
core-toolbar {
    background: #3F51B5;
    color: white;
}
core-toolbar > img {
    position: relative;
    top: 1.6em;
    height: 128px;
}
core-toolbar > div {
    vertical-align: middle;
}
core-icon {
    margin-right: 0.5em;
}
h1 {
    font-weight: 400;
    font-size: 24pt;
}
h2 {
    font-weight: 400;
    font-size: 15pt;
}
div[drawer] {
    background: white;
}
div[drawer] > nav {
    overflow-y: auto;
}
#drawerLogo {
    padding-left: 16px;
    height: 64px;
}
#drawerLogo > img {
    height: 64px;
    margin-right: 0.5em;
}
#drawerLogo > h1 {
    font-weight: 400;
    font-size: 34pt;
    display: inline-block;
    vertical-align: top;
    line-height: 64px;
    margin: 0;
}
#main {
    padding: 2em 1em;
    overflow-y: auto;
}
paper-shadow {
    margin: 1.5em;
}
code {
    background:white;
    white-space:pre;
    display:block;
    overflow-x:auto;
    font-family: monospace;
    font-size: 12pt;
}
paper-button {
    background: #64B5F6;
    color: white;
}
#bigbutton {
    display: table;
    font-size: 24pt;
    margin: 1em auto;
}
#bigbutton > a {
    color:white;
}
.subheading {
    font-size: 15px;
    padding-left: 16px;
    height: 48px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 48px;
}
/* This animates the drawer toggle appearing in narrow view. */
#drawerToggle {
    display: none;
}
@media screen and (max-width: 750px) {
    #drawerToggle {
        display: block;
    }
}
