<ul>
  <li><a href="help/LOOT-FAQs.html">FAQs</a></li>
  <li><a href="help/How-To-Report-Issues-Helpfully.html">How To Report Issues Helpfully</a></li>
  <li><a href="help/Introduction-To-Load-Orders.html">Introduction To Load Orders</a></li>
  <li><a href="help/Dirty-Edits,-Mod-Cleaning-&amp;-CRCs.html">Dirty Edits, Mod Cleaning &amp; CRCs</a></li>
  <li><a href="help/Setting-Windows'-File-Permissions.html">Setting Windows' File Permissions</a></li>
  <li><a href="help/Using-Noto-fonts-for-Chinese-and-Korean-in-LOOT.html">Using Noto fonts for Chinese and Korean in LOOT</a></li>
</ul>
