<!DOCTYPE html>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>LOOT: {{ page.title }}</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/overrides.css" shim-shadowdom>
<link rel="shortcut icon" type="image/ico" href="/images/icon.ico">

<script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
<link rel="import" href="/polymer-loader.vulcanized.html">
<link href="//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css">

<body unresolved fullbleed>
    <core-drawer-panel drawerWidth="276px">
        <div drawer layout vertical>
            <core-toolbar>
                <img alt="LOOT" src="/images/icon.png">
                <h1 class="display1 dark">LOOT</h1>
            </core-toolbar>
            <nav flex>
                <paper-item><a href="/">
                    <core-icon icon="home"></core-icon>Home
                </a></paper-item>
                <paper-item><a href="/docs/">
                    <core-icon icon="book"></core-icon>Documentation
                </a></paper-item>
                <paper-item><a href="/search/">
                    <core-icon icon="search"></core-icon>Masterlist Search
                </a></paper-item>
                <paper-item><a href="/credits/">
                    <core-icon icon="social:people"></core-icon>Credits
                </a></paper-item>
                <div class="subheader">On GitHub</div>
                <paper-item><a href="https://github.com/loot">
                    <core-icon src="/images/github-mark.svg"></core-icon>Code
                </a></paper-item>
                <paper-item><a href="https://github.com/loot/loot.github.io/wiki">
                    <core-icon icon="subject"></core-icon>Wiki
                </a></paper-item>
                <div class="subheader">Support &amp; Discussion</div>
                <paper-item><a href="http://forums.bethsoft.com/topic/1513925-rel-loot-thread-17/">
                    <core-icon icon="communication:forum"></core-icon>Forum Thread
                </a></paper-item>
                <paper-item><a href="https://webchat.freenode.net/?channels=%23loot">
                    <core-icon icon="communication:live-help"></core-icon>IRC Channel
                </a></paper-item>
                <paper-item><a href="/tutorials/">
                    <core-icon icon="av:video-collection"></core-icon>Unofficial Tutorials
                </a></paper-item>
            </nav>
        </div>
        <div main layout vertical>

            <core-toolbar>
                <paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
                <h1 class="headline dark">{{ page.title }}</h1>
            </core-toolbar>

            <div id="content" flex>
                {{ content }}
            </div>
        </div>
    </core-drawer-panel>
</body>
