<!DOCTYPE html>
<meta charset='utf-8' />
<title>LOOT: {{ page.title }}</title>
<link rel="stylesheet" href="/style.css">
<link rel="icon" type="image/ico" href="/icon.ico">

<div id="header">
<img alt="LOOT" src="/icon.ico">
<h2>Load order optimisation for Oblivion, Skyrim, Fallout 3 and Fallout: New Vegas</h2>

<div id="nav">
<a href="/">Home</a>
<a href="/docs/">Documentation</a>
<a href="https://github.com/loot/loot.github.io/wiki">Wiki</a>
<a href="/search/">Masterlist Search</a>
<a href="https://github.com/loot">Code</a>
<a href="/credits/">Credits</a>
</div>
</div>

<div id="main">

{{ content }}

<div id="footer">
Support &amp; Discussion: <a href="http://forums.bethsoft.com/topic/1507988-rel-loot-thread-13/">Forum Thread</a>
<a href="https://webchat.freenode.net/?channels=%23loot">IRC Channel</a>
<br>Unofficial Tutorial Video: <a href="https://www.youtube.com/watch?v=SzoyWugzZAw">GophersVids</a>
<small>&copy; 2013&mdash;2014 WrinklyNinja</small>
</div>
