<!DOCTYPE html>
<meta charset='utf-8' />
<title>LOOT: {{ page.title }}</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/overrides.css">
<link rel="icon" type="image/ico" href="/icon.ico">

<script src="http://www.polymer-project.org/components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="http://www.polymer-project.org/components/polymer/polymer.html">

<link rel="import" href="http://www.polymer-project.org/components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="http://www.polymer-project.org/components/core-toolbar/core-toolbar.html">
<link rel="import" href="http://www.polymer-project.org/components/core-icon/core-icon.html">
<link rel="import" href="http://www.polymer-project.org/components/core-icons/core-icons.html">
<link rel="import" href="http://www.polymer-project.org/components/core-icons/social-icons.html">
<link rel="import" href="http://www.polymer-project.org/components/core-icons/communication-icons.html">
<link rel="import" href="http://www.polymer-project.org/components/core-input/core-input.html">
<link rel="import" href="http://www.polymer-project.org/components/core-menu/core-menu.html">

<link rel="import" href="http://www.polymer-project.org/components/paper-button/paper-button.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-item/paper-item.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-spinner/paper-spinner.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-input/paper-input-decorator.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-shadow/paper-shadow.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="http://www.polymer-project.org/components/paper-dropdown/paper-dropdown.html">
<link href="http://fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css">

<body unresolved fullbleed>
    <core-drawer-panel responsiveWidth="750px">
        <div drawer layout vertical>
            <div id="drawerLogo">
                <img alt="LOOT" src="/icon.svg">
                <h1>LOOT</h1>
            </div>
            <nav flex>
                <div class="subheading">On This Site</div>
                <paper-item><core-icon icon="home"></core-icon><a href="/">Home</a></paper-item>
                <paper-item><core-icon icon="book"></core-icon><a href="/docs/">Documentation</a></paper-item>
                <paper-item><core-icon icon="search"></core-icon><a href="/search/">Masterlist Search</a></paper-item>
                <paper-item><core-icon icon="social:people"></core-icon><a href="/credits/">Credits</a></paper-item>
                <div class="subheading">On GitHub</div>
                <paper-item><core-icon icon="social:post-github"></core-icon><a href="https://github.com/loot">Code</a></paper-item>
                <paper-item><core-icon icon="subject"></core-icon><a href="https://github.com/loot/loot.github.io/wiki">Wiki</a></paper-item>
                <div class="subheading">Help, Support &amp; Discussion</div>
                <paper-item><core-icon icon="communication:forum"></core-icon><a href="http://forums.bethsoft.com/topic/1511411-rel-loot-thread-15/">Forum Thread</a></paper-item>
                <paper-item><core-icon icon="communication:live-help"></core-icon><a href="https://webchat.freenode.net/?channels=%23loot">IRC Channel</a></paper-item>
                <paper-item><core-icon icon="social:post-youtube"></core-icon><a href="https://www.youtube.com/watch?v=SzoyWugzZAw">Unofficial Tutorial Video</a></paper-item>
            </nav>
        </div>
        <div main layout vertical>

            <core-toolbar>
                <paper-icon-button id="drawerToggle" icon="menu" core-drawer-toggle></paper-icon-button>
                <h1 flex>{{ page.title }}</h1>
            </core-toolbar>

            <div id="main" flex>
                {{ content }}
            </div>
        </div>
    </core-drawer-panel>
</body>
